@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

// Fontes
$primaryFontFamily: "Roboto", sans-serif;
$secondaryFontFamily: "";

// base para medidas
$base: 8px;
$miniBase: 4px;

// tamanho fonte
$fontSize: 16px;

// cor texto sucesso
$textSuccess: #28a642;

// background texto sucesso
$bgTextSuccess: rgba(0, 0, 0, 0.9);

//
//
//
// Dark Theme

$darkIconImput: #000000; // cor ícones inputs

$darkBgHeader: #0c0c0d; // bg header
$darkBgBody: #121214; // bg body
$darkBgFooter: #121214; // bg footer

$darkGlasses: #202024; // bg glasses

$darkBgButton: #a21924; // 'e' e '.' no header e o fundo do botão
$darkDiscountOff: #bd0e0d; // 'OFF' do balão

$darkTextColor: #dcdcdc; // cor textos e placeholder

$darkLinearGradient: linear-gradient(170deg, #121214, #1f1f23);

//
//
//
// Light Theme

$lightIconImput: #000000; // cor ícones inputs
$lightBgHeader: #0c0c0d; // bg header
$lightBgBody: #121214; // bg body
$lightBgFooter: #121214; // bg footer
$lightGlasses: #202024; // bg glasses

$lightBgButton: #660809; // 'e' e '.' no header e o fundo do botão
$lightDiscountOff: #bd0e0d; // 'OFF' do balão

$lightTextColor: #b1b1b1; // cor textos e placeholder

$lightLinearGradient: linear-gradient(170deg, #121214, #1f1f23);

//
//
//
//
//
// definição do tema

// cores de background
$bgHeader: $darkBgHeader;
$bgBody: $darkBgBody;
$bgFooter: $darkBgFooter;

// cores de fonte
$primaryTextColor: $darkTextColor;
$secondaryTextColor: $darkBgButton;

// cor do botão 'Me avise!'
$buttonBgColor: $darkBgButton;

// cores glass
$bgGlass: $darkGlasses;

// linear-gradient da imagem
$linearGradient: $darkLinearGradient;
