@import "variaveis";
@import "reset";
@import "propriedades";

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & header {
    height: 100px;
    background-color: $darkBgHeader;
    color: $darkTextColor;

    & section {
      max-width: 1140px;
      height: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      padding-left: $base * 2;
      padding-right: $base * 2;

      & h1 {
        font-size: $fontSize * 2.5;
        position: relative;

        &::first-letter,
        &::after {
          color: $darkBgButton;
        }

        &::after {
          content: ".";
          position: absolute;
          right: -10px;
          bottom: -2px;
        }
      }
    }
  }

  & main {
    background-color: $darkBgBody;
    color: $darkTextColor;
    flex: 1;

    & section {
      max-width: 1140px;
      height: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      padding-left: $base * 2;
      padding-right: $base * 2;

      & .left,
      & .right {
        width: 50%;
        min-height: calc(100vh - 100px - 50px);
        padding: $base * 2;

        @media only screen and (max-width: 899px) {
          width: 100%;
          min-height: calc((100vh - 100px - 50px) / 2);
        }
      }

      //   & .left {}
      & .right {
        & .right--text-counters {
          //   border: 1px dashed lightgray;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          margin-bottom: $base * 2;
          & .text {
            font-size: $fontSize * 1.5;
            padding: $base * 2;
            padding-bottom: 0;
          }

          & .counters {
            padding: $base * 2;
            display: flex;
            justify-content: space-between;
            gap: $base * 1.5;

            & .days,
            & .hours,
            & .minutes,
            & .seconds {
              flex: 1;
              border-radius: $base/2;
              background-color: $darkGlasses;
              text-transform: uppercase;
              text-align: center;
              padding: ($base * 2) 0;
              min-height: $base * 13;
              display: flex;
              flex-direction: column;
              justify-content: space-around;

              & span {
                font-size: $fontSize * 2.5;
                font-weight: 700;

                &:last-child {
                  font-size: $fontSize * 0.8;
                  font-weight: 500;
                }
              }
            }
          }
        }
        & .right--form {
          //   border: 1px dashed lightgray;
          padding: $base * 2;

          & .form--title-fields-button {
            padding: ($base * 5) ($base * 3);
            background-color: $darkGlasses;
            min-height: 250px;
            border-radius: $base;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            & .title {
              & h3 {
                font-size: $fontSize * 1.2;
                margin-bottom: $base * 3;
              }
            }

            & .fields {
              display: block;
              //   margin-bottom: $base * 4;

              & .field {
                display: block;
                margin-bottom: $base * 2;
                position: relative;

                & label {
                  &:not(:last-child) {
                    display: none;
                  }
                  margin-bottom: $base / 2;
                  cursor: pointer;
                }

                & input[type="text"],
                & input[type="email"] {
                  width: 100%;
                }

                & input {
                  padding: ($base * 2.5) ($base * 2);
                  padding-left: $base * 7;
                  font-size: $base * 2;
                  border-radius: $base/2;
                  outline: none;
                  border: 1px transparent;
                }

                &:last-child {
                  margin-top: $base * 4;
                  margin-bottom: $base * 4;
                }

                & span {
                  position: absolute;
                  top: $base * 2;
                  left: $base * 2;
                  color: $darkBgHeader;
                }
              }
            }

            & .button {
              & button {
                width: 100%;
                padding: ($base * 3) ($base * 2);
                background-color: $darkBgButton;
                border: 1px solid $darkBgButton;
                border-radius: $base;
                color: $darkTextColor;
                font-size: $base * 4;
                font-weight: bold;
                cursor: pointer;

                & span {
                  transform: rotateY(180deg);
                  font-size: inherit;
                  margin-left: $base/2;
                }
              }
            }
          }
        }
      }
    }
  }

  & footer {
    background-color: $darkBgBody;
    // color: $darkTextColor;
    color: $darkBgBody;
    height: 50px;

    & section {
      max-width: 1140px;
      height: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: $base * 2;
      padding-right: $base * 2;
    }
  }
}
