@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper header {
  height: 100px;
  background-color: #0c0c0d;
  color: #b1b1b1;
}
.wrapper header section {
  max-width: 1140px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}
.wrapper header section h1 {
  font-size: 40px;
  position: relative;
}
.wrapper header section h1::first-letter, .wrapper header section h1::after {
  color: #660809;
}
.wrapper header section h1::after {
  content: ".";
  position: absolute;
  right: -10px;
  bottom: -2px;
}
.wrapper main {
  background-color: #121214;
  color: #b1b1b1;
  flex: 1;
}
.wrapper main section {
  max-width: 1140px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-left: 16px;
  padding-right: 16px;
}
.wrapper main section .left, .wrapper main section .right {
  width: 50%;
  min-height: calc(100vh - 100px - 50px);
  padding: 16px;
}
@media only screen and (max-width: 899px) {
  .wrapper main section .left, .wrapper main section .right {
    width: 100%;
    min-height: calc((100vh - 100px - 50px) / 2);
  }
}
.wrapper main section .left {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.wrapper main section .left .left--discount-image {
  position: relative;
}
.wrapper main section .left .left--discount-image .discount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #202024;
  color: #b1b1b1;
  position: absolute;
  right: 0;
  top: -8px;
  text-transform: uppercase;
  z-index: 3;
}
@media only screen and (max-width: 539px) {
  .wrapper main section .left .left--discount-image .discount {
    width: 80px;
    height: 80px;
    top: -4px;
  }
}
.wrapper main section .left .left--discount-image .discount span {
  font-size: 0.8rem;
}
.wrapper main section .left .left--discount-image .discount span:nth-child(2) {
  font-size: 24px;
  font-weight: 700;
}
.wrapper main section .left .left--discount-image .discount span:last-child {
  color: #bd0e0d;
}
.wrapper main section .left .left--discount-image .image {
  position: relative;
}
.wrapper main section .left .left--discount-image .image::after {
  position: absolute;
  content: "";
  top: 56px;
  right: 0;
  bottom: -32px;
  left: 0;
  z-index: 1;
  border-radius: 50%;
  background: linear-gradient(160deg, #202024, #121214);
}
.wrapper main section .left .left--discount-image .image img {
  width: 100%;
  height: auto;
  z-index: 2;
  position: relative;
}
.wrapper main section .right {
  z-index: 2;
}
.wrapper main section .right .right--text-counters {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 16px;
}
.wrapper main section .right .right--text-counters .text {
  font-size: 24px;
  padding: 16px;
  padding-bottom: 0;
}
.wrapper main section .right .right--text-counters .counters {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
.wrapper main section .right .right--text-counters .counters .days, .wrapper main section .right .right--text-counters .counters .hours, .wrapper main section .right .right--text-counters .counters .minutes, .wrapper main section .right .right--text-counters .counters .seconds {
  flex: 1;
  border-radius: 4px;
  background-color: #202024;
  text-transform: uppercase;
  text-align: center;
  padding: 16px 0;
  min-height: 104px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.wrapper main section .right .right--text-counters .counters .days span, .wrapper main section .right .right--text-counters .counters .hours span, .wrapper main section .right .right--text-counters .counters .minutes span, .wrapper main section .right .right--text-counters .counters .seconds span {
  font-size: 40px;
  font-weight: 700;
}
.wrapper main section .right .right--text-counters .counters .days span:last-child, .wrapper main section .right .right--text-counters .counters .hours span:last-child, .wrapper main section .right .right--text-counters .counters .minutes span:last-child, .wrapper main section .right .right--text-counters .counters .seconds span:last-child {
  font-size: 12.8px;
  font-weight: 500;
}
.wrapper main section .right .right--form {
  padding: 16px;
}
.wrapper main section .right .right--form .form--title-fields-button {
  padding: 40px 24px;
  background-color: #202024;
  min-height: 250px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper main section .right .right--form .form--title-fields-button .title h3 {
  font-size: 19.2px;
  margin-bottom: 24px;
}
.wrapper main section .right .right--form .form--title-fields-button .fields {
  display: block;
}
.wrapper main section .right .right--form .form--title-fields-button .fields .field {
  display: block;
  margin-bottom: 16px;
  position: relative;
}
.wrapper main section .right .right--form .form--title-fields-button .fields .field label {
  margin-bottom: 4px;
  cursor: pointer;
}
.wrapper main section .right .right--form .form--title-fields-button .fields .field label:not(:last-child) {
  display: none;
}
.wrapper main section .right .right--form .form--title-fields-button .fields .field input[type=text], .wrapper main section .right .right--form .form--title-fields-button .fields .field input[type=email] {
  width: 100%;
}
.wrapper main section .right .right--form .form--title-fields-button .fields .field input {
  padding: 20px 16px;
  padding-left: 56px;
  font-size: 16px;
  border-radius: 4px;
  outline: none;
  border: 1px transparent;
}
.wrapper main section .right .right--form .form--title-fields-button .fields .field:last-child {
  margin-top: 32px;
  margin-bottom: 32px;
}
.wrapper main section .right .right--form .form--title-fields-button .fields .field span {
  position: absolute;
  top: 16px;
  left: 16px;
  color: #0c0c0d;
}
.wrapper main section .right .right--form .form--title-fields-button .button button {
  width: 100%;
  padding: 24px 16px;
  background-color: #660809;
  border: 1px solid #660809;
  border-radius: 8px;
  color: #b1b1b1;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
}
.wrapper main section .right .right--form .form--title-fields-button .button button span {
  transform: rotateY(180deg);
  font-size: inherit;
  margin-left: 4px;
}
.wrapper footer {
  background-color: #121214;
  color: #121214;
  height: 50px;
}
.wrapper footer section {
  max-width: 1140px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
}
